@tailwind base;
@tailwind components;
@tailwind utilities;
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.hover-container:hover .material-symbols-outlined{
  color: #4a4a4a;
}
.material-symbols-outlined.important {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: rgb(254, 195, 0);
}
.hover-container-important:hover .material-symbols-outlined.important{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: rgb(254, 195, 0);
}
.material-symbols-outlined.tune{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: rgb(92, 92, 92);
  position: absolute;
  right: 10px;
}
.material-symbols-outlined.tune:hover{
  cursor: pointer;
}